{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Produk Baru</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="form-container">
    <div class="form-card">
        <h1>Tambah Produk Baru</h1>

        <form method="POST" action="">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    
                {% endif %}
                {% for error in field.errors %}
                    
                {% endfor %}
            </div>
            {% endfor %}
            
            <button class="submit-btn" type="submit">Simpan Produk</button>
        </form>
    </div>
</div>
{% endblock content %}