<h1>Football Shop</h1>

<h5>NPM: </h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<h5>Employee:</h5>
<p>{{ name }}</p>

<h5>age:</h5>
<p>{{ age }}</p>

<h5>persona:</h5>
<p>{{ persona }}</p>

<a href="{% url 'main:create_product' %}">
    <button>+ Add Product</button>
</a>

<hr>

{% if not product_list %}
<p>Belum ada data penjualan pada Football Shop.</p>
{% else %}

{% for product in product_list %}
<div>
    <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>


    {% if product.thumbnail %}
    <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
    <br />
    {% endif %}

    <p><a href="{% url 'main:show_product' product.id %}"><button>Read More</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}